body {
    font-family: 'calibri', sans-serif;
}

#vision {
    color: lightslategray;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px darkred solid;
    border-radius: 5px;
}

nav a:hover {
    background-color: darkred;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-card {
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
}

div.grid-card > img {
    max-width: 100%;
}

div.grid-card > p {
    margin-bottom: 10px;
}

h2 {
    color: darkred;
}
